h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: red;
}

#scoreBoard {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px dashed green;
  font-weight: bold;
}

#score {
  color: green;
}
